language: node_js
node_js:
  - '6'
addons:
  ssh_known_hosts: jyps.fi
before_script:
  - yarn install
  - yarn build
deploy:
  - provider: script
    skip_cleanup: true
    script: scripts/deploy.sh production
    on:
      branch: master
before_deploy:
  - >-
    openssl aes-256-cbc -K $encrypted_7a1f1ec43a65_key -iv
    $encrypted_7a1f1ec43a65_iv -in /tmp/deploy_rsa.enc -out deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/deploy_rsa
  - ssh-add /tmp/deploy_rsa
